<%= turbo_frame_tag "live-reloading-content", 'data-turbo-action' => "advance", 'target' => "_top" do %>
  <% if @calls.empty? %>
    <div class="nothing-here">No result</div>
  <% else %>

    <% if @search.terms.any? %>
      <div class="flex justify-between items-center py-4 px-1">
        <div>Found <%= @total_searched_calls %> results</div>
        <div>
          <%= link_to "CSV", export_account_calls_path( @account, format: :csv, search: params[:search].permit(:search_all, :twilio_account_id)), class: "btn btn-secondary ml-2" %>
        </div>
      </div>
    <% end %>

    <div class="table full grouped">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell"><%= sortable_header(:root_call_created_at, label: 'Time', search: search) %></div>
          <div class="table-cell"><%= sortable_header(:from_phone, label: 'From', search: search) %></div>
          <div class="table-cell"><%= sortable_header(:to_phone, label: 'To', search: search) %></div>
          <div class="table-cell"><%= sortable_header(:duration, label: 'Duration', search: search) %></div>
          <div class="table-cell"><%= sortable_header(:status, label: 'Status', search: search) %></div>
          <div class="table-cell"><%= sortable_header(:'conference.friendly_name', label: 'Conference', search: search) %></div>
          <div class="table-cell"><%= sortable_header(:'twilio_accounts.name', label: 'Account & SID', search: search) %></div>
        </div>
      </div>
      <div class="table-row-group" id="calls-rows">
        <%= render partial: 'calls/call', collection: @calls, locals: { search: search } %>
      </div>
    </div>

    <%= render 'shared/infinite_scrolling', pagy: @pagy %>
  <%- end %>
<%- end %>
