
<%= render 'shared/session_box', title: 'Forgot your password?' do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form', 'data-turbo': 'false' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', required: true %>
    </div>

    <div class="flex items-center justify-between">

      <%= link_to "‹ cancel", new_session_path(resource_name) %>
      <%= f.submit 'Send reset link' %>
    </div>

  <% end %>
<% end %>
