<%= turbo_frame_tag "live-reloading-content", 'data-turbo-action' => "advance" do %>
  <% if @alerts.empty? %>
    <div class="nothing-here">No result</div>
  <% else %>

    <% if @search.terms.any? %>
      <div class="py-4 px-1">Found <%= @total_searched_alerts %> results</div>
    <% end %>
    <div class="">
      <div class="table full striped">
        <div class="table-header-group">
          <div class="table-row">
            <div class="table-cell"><%= sortable_header(:twilio_created_at, label: 'Time', search: search) %></div>
            <div class="table-cell"><%= sortable_header(:message, label: 'Message', search: search) %></div>
            <div class="table-cell"><%= sortable_header(:request_url, label: 'URL', search: search) %></div>
            <div class="table-cell"><%= sortable_header(:error_code, label: 'Error', search: search) %></div>
            <div class="table-cell"><%= sortable_header(:'twilio_accounts.name', label: 'Account & SID', search: search) %></div>
          </div>
        </div>
        <div class="table-row-group" id="alerts-rows">
          <%= render partial: 'alerts/alert', collection: @alerts, locals: { search: search } %>
        </div>
      </div>
    </div>

    <%= render 'shared/infinite_scrolling', pagy: @pagy %>
  <%- end %>
<%- end %>
